ul{ list-style: none; font-family: "Calibri", Arial, sans-serif; }
ul li { 
  border-bottom: 1px solid #d9e2eb; 
  background: #fff; 
  display: block;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#ecf1f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #ecf1f5);
  background-image: -moz-linear-gradient(top, #ffffff, #ecf1f5);
  background-image: -o-linear-gradient(top, #ffffff, #ecf1f5);
  background-image: linear-gradient(top, #ffffff, #ecf1f5); 
}

ul li a input{ 
  position: relative; 
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0px; 
  padding-left: 10px;
  text-decoration: none; 
  font-size: 1.4em; 
  color: #787878;
  font-weight: bold;
  overflow: hidden;
}
ul li a:hover { color: #999; }